@import colors

#admin-users
    width: 100%
    max-width: 60em
    form#create-user-form
        margin-bottom: 2em
        padding-bottom: 1em
        border-bottom: 1px solid #ddd
    .admin-users-table
        border-spacing: 0
        width: 100%
        td, th
            padding: .4em .6em
            text-align: left
        th
            white-space: nowrap
            border-bottom: 2px solid #ddd
        td
            border-bottom: 1px solid #eee
        .rank-select
            font-size: .9em
        .btn-reset-password
            margin-right: .5em
        .btn-delete-user
            color: #c00
